<%# email to send a user a daily summary of people who have commented on their posts
this past day %>
<p>Hello <%= @user.show_name %></p>
<br>
<p>Here is your daily summary of comments on your posts:</p>

<table class="table">
      <tr>
        <th>Post Title</th>
        <th>Comment</th>
      </tr>
    <% @comments.each do |comment| %>
      <tr>
          <td><%= comment.post.title %></td>
          <td><%= comment.body %></td>
      </tr>   
    <% end %>
</table>


