<h1>About Us</h1>
<p>This is going to be an epic blog app....eventually...</p>

<p>By: Jared K</p>
<p>Address: 1234 Awesome Street</p>
<p>Vancouver, BC (greatest city on earth)</p>
<p>CodeCore Bootcamp Blog App</p>
<br>
<%= image_tag "my_pic.jpeg" %>