<%# mailer to notify a post owner when someone has commented on their post %>
<p>Hello <%= @post.user.show_name %></p>
<br>
<p>Someone commented on your post...</p>
<br>
<p>Post Title: <%= link_to @post.title, post_url(@post) %> </p>
<p>Comment: <%= @comment.body %></p>
<p>All the best,</p>
<br>
<p>The Stories Blog Team</p>


