<!-- DISPLAY THE MENUS -->
<%= render partial: "/layouts/menus", locals: {tags: @tags, user: @users, featured_posts: @featured_posts}  %>

<div class="container">
  <h3 style="text-align: center">Posts relating to <em><%= @tag.name %></em>:</h3>
</div>

<!-- show posts relating to this tag -->
<%= render partial: "/tags/tag" %>


